:root {
    --ticatec-summary-table-background-color: #ffffff;
    --ticatec-summary-table-header-background-color: #BBDEFB;
    --ticatec-alter-row-background-color: #FFFFE1;
    --ticatec-bar-bottom-border-color: #e1e1e1;
}

.tsui-summary-table {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--ticatec-summary-table-background-color, #ffffff);

    table {
        border-spacing: 0;
    }

    th {
        text-align: center;
        font-weight: 600;
    }

    .table-col {
        position: relative;
        box-sizing: border-box;
        background-color: #ffffff;

        >span {
            display: inline-block;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        >span, >div {
            width: 100%;
            padding: 2px 4px;
            box-sizing: border-box;
            overflow: hidden;
        }
    }

    .alternative {
        .table-col {
            background-color: var(--ticatec-alter-row-background-color);
        }
    }

    .tsui-table-header {
        width: 100%;
        height: 28px;
        overflow: hidden;
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        background-color: var(--ticatec-summary-table-header-background-color);

        div {
            position: relative;
        }

        .table-col {
            background-color: var(--ticatec-summary-table-header-background-color);
        }


    }

    .fixed-col-panel, .indicator-col-panel {
        position: absolute;
        top: 0;
        bottom: 0;

        >div {
            position: relative;
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            background-color: var(--ticatec-summary-table-background-color);
            overflow: hidden;
            text-align: center;

            table {
                position: relative;
            }
        }
    }

    .fixed-col-panel {
        left: 0;
    }

    .indicator-col-panel {
        right: 0;

        img {
            position: relative;
        }

        img:hover {
            background-color: #0288D1;
            border-radius: 50%;
        }

        img:active {
            top: 1px;
        }
    }
}