@charset "UTF-8";
:root {
  --tsui-app-background-color: #ffffff;
  --tsui-app-primary-color: #333333;
  --tsui-primary-color: #0288D1;
  --tsui-border-color: #e0e0e0;
  --tsui-primary-font-stack: Helvetica, sans-serif;
  --tsui-primary-font-size: 12px;
  --tsui-pagination-background-color: #ffffff;
  --tsui-pagination-selected-background-color: #303f9f;
  --tsui-pagination-hover-background-color: #ffffe0;
  --tsui-toast-warning-background-color: #ff3e00;
  --tsui-toast-info-background-color: #303f9f;
  --tsui-toast-font-color: #ffffff;
  --tsui-box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
  --tsui-dialog-background-color: #ffffff;
}

[data-theme="dark"] {
  --tsui-app-background-color: #333333;
  --tsui-app-primary-color: #ffffff;
  --tsui-border-color: #f0f0f0;
}

.tsui-popover {
  position: relative;
}

.tsui-popover .contents-wrapper {
  position: absolute;
  transition: none;
  z-index: 2;
  display: block;
}

.tsui-popover .contents-wrapper .contents {
  background: var(--tsui-app-background-color);
  box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
  padding-top: 0;
  opacity: 1;
  transform: scale(1);
  display: block;
}

.tsui-popover .contents-wrapper .contents .inner {
  overflow: auto;
}

html, body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 12px;
  user-select: none;
  overflow: hidden;
  font-family: "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  background-color: var(--tsui-app-background-color, #ffffff);
  color: var(--tsui-app-primary-color, #333333);
}

.tsui-app-container-wrapper {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
  box-sizing: border-box;
}

.tsui-app-container-wrapper .tsui-app-container {
  display: flex;
  height: 100%;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.tsui-app-container-wrapper .tsui-app-container .tsui-header {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-bottom: 1px solid var(--tsui-border-color);
  z-index: 5;
}

.tsui-app-container-wrapper .tsui-app-container .tsui-content-panel {
  flex-grow: 1;
  flex-shrink: 1;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
}

.tsui-app-container-wrapper .tsui-app-container .tsui-content-panel .tsui-sidebar, .tsui-app-container-wrapper .tsui-app-container .tsui-content-panel .tsui-sidebar-right {
  flex-grow: 0;
  flex-shrink: 0;
  height: 100%;
}

.tsui-app-container-wrapper .tsui-app-container .tsui-content-panel .tsui-main-panel {
  flex-shrink: 1;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.tsui-app-container-wrapper .tsui-app-container .tsui-footer {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-top: 1px solid var(--tsui-border-color);
  z-index: 5;
}

.tsui-app-container-wrapper .tsui-app-container.blur {
  filter: blur(2px);
}

.tsui-app-container-wrapper .app-container-mask {
  position: absolute;
  background-color: var(--tsui-mask-background-color);
}

.tsui-toast-panel {
  position: fixed;
  width: 100%;
  bottom: 0;
  height: 56px;
  text-align: center;
  overflow: hidden;
}

.tsui-toast-panel > div {
  display: inline-block;
  min-width: 480px;
  background-color: var(--tsui-toast-warning-background-color, #ff3e00);
  color: var(--tsui-toast-font-color, #ffffff);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  min-height: 56px;
  font-size: 1.15em;
  line-height: 56px;
}

.tsui-toast-panel > div.info {
  background-color: var(--tsui-toast-info-background-color, #303f9f);
}

.tsui-indicator-panel {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tsui-indicator-panel > div {
  display: inline-block;
  margin: 0 auto;
  border: 1px solid #d9d9d9;
  min-width: 240px;
  padding: 64px 16px 8px 16px;
  border-radius: 8px;
  box-sizing: border-box;
  text-align: center;
  background-image: url(./images/loading.gif);
  background-repeat: no-repeat;
  background-size: 48px;
  background-position-x: center;
  background-position-y: 10px;
  box-shadow: var(--tsui-box-shadow);
}

.tsui-message-box-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff10;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tsui-message-box-wrapper .tsui-message-box {
  margin: 0 auto;
  background-color: var(--tsui-dialog-background-color, #ffffff);
  border: 1px solid #d9d9d9;
  box-shadow: var(--tsui-box-shadow);
  border-radius: 8px;
  overflow: hidden;
}

.tsui-message-box-wrapper .tsui-message-box .tsui-title-bar {
  position: relative;
  width: 100%;
  padding: 4px 8px;
  box-sizing: border-box;
  border-bottom: 1px solid #e1e1e1;
}

.tsui-message-box-wrapper .tsui-message-box .tsui-title-bar span {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.1em;
  font-weight: 600;
}

.tsui-message-box-wrapper .tsui-message-box .tsui-message-content {
  width: 400px;
  min-height: 120px;
  background-repeat: no-repeat;
  background-size: 48px;
  background-position-y: center;
  background-position-x: 16px;
  background-image: url("./images/warning.svg");
  padding: 8px 16px 8px 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tsui-message-box-wrapper .tsui-message-box .tsui-message-content.question {
  background-image: url("./images/question.svg");
}

.tsui-message-box-wrapper .tsui-message-box .tsui-message-box-control-bar {
  position: relative;
  padding: 4px 8px;
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
}

.tsui-app-module-page-board-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: var(--tsui-app-background-color, #ffffff);
}

.tsui-app-module-page-board-wrapper .tsui-module-home-page {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.tsui-app-module-page-board-wrapper .tsui-stack-page-board {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tsui-app-module-page-board-wrapper .tsui-stack-page-board > div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.tsui-app-module-page-board-wrapper .tsui-app-module-dialog-board {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.tsui-app-module-page-board-wrapper .tsui-app-module-dialog-board > div {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.tsui-app-module-page-board-wrapper .tsui-app-module-dialog-board .tsui-module-dialog {
  background-color: var(--tsui-app-background-color, #ffffff);
  border-radius: 8px;
  border: 1px solid var(--tsui-border-color, #e0e0e0);
  box-shadow: var(--tsui-box-shadow);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.tsui-app-module-page-board-wrapper .tsui-app-module-dialog-board .tsui-module-dialog .dialog-title-bar, .tsui-app-module-page-board-wrapper .tsui-app-module-dialog-board .tsui-module-dialog .dialog-control-bar {
  flex-grow: 0;
  flex-shrink: 0;
  overflow: hidden;
}

.tsui-app-module-page-board-wrapper .tsui-app-module-dialog-board .tsui-module-dialog .dialog-title-bar {
  font-weight: 600;
  font-size: 1.25em;
  padding: 4px 8px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--tsui-border-color);
}

.tsui-app-module-page-board-wrapper .tsui-app-module-dialog-board .tsui-module-dialog .dialog-control-bar {
  text-align: center;
  padding: 8px 12px;
}

.tsui-app-module-page-board-wrapper .tsui-app-module-dialog-board .tsui-module-dialog .dialog-content {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

.tsui-drawer-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  background-color: var(--tsui-app-background-color, #ffffff);
  box-shadow: -2px 0px 6px -1px rgba(0, 0, 0, 0.1);
  left: 0;
  border-right: 1px solid var(--tsui-border-color, #9d9d9d);
}

.tsui-drawer-wrapper.right-side {
  right: 0;
  border-left: 1px solid var(--tsui-border-color, #9d9d9d);
}

.tsui-form-container {
  position: relative;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.tsui-form-container .tsui-form-row {
  position: relative;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
}

.tsui-form-container .tsui-form-row .tsui-form-col {
  display: block;
  position: relative;
  box-sizing: border-box;
  flex-grow: 0;
  flex-shrink: 0;
}

.tsui-form-container .tsui-form-row .tsui-form-col.span-1 {
  width: 8.33333%;
}

.tsui-form-container .tsui-form-row .tsui-form-col.span-2 {
  width: 16.66667%;
}

.tsui-form-container .tsui-form-row .tsui-form-col.span-3 {
  width: 25%;
}

.tsui-form-container .tsui-form-row .tsui-form-col.span-4 {
  width: 33.33333%;
}

.tsui-form-container .tsui-form-row .tsui-form-col.span-5 {
  width: 41.66667%;
}

.tsui-form-container .tsui-form-row .tsui-form-col.span-6 {
  width: 50%;
}

.tsui-form-container .tsui-form-row .tsui-form-col.span-7 {
  width: 58.33333%;
}

.tsui-form-container .tsui-form-row .tsui-form-col.span-8 {
  width: 66.66667%;
}

.tsui-form-container .tsui-form-row .tsui-form-col.span-9 {
  width: 75%;
}

.tsui-form-container .tsui-form-row .tsui-form-col.span-10 {
  width: 83.33333%;
}

.tsui-form-container .tsui-form-row .tsui-form-col.span-11 {
  width: 91.66667%;
}

.tsui-form-container .tsui-form-row .tsui-form-col.span-12 {
  width: 100%;
}

.tsui-form-field {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}

.tsui-form-field > label {
  width: 100%;
  padding: 4px;
  position: relative;
  box-sizing: border-box;
  display: grid;
}

.tsui-form-field.vertical {
  padding: 2em 8px 4px 12px;
}

.tsui-form-field.horizontal {
  padding: 4px 0;
}

.tsui-form-field.horizontal label {
  grid-template-columns: 120px auto;
  align-items: center;
}

.tsui-form-field.horizontal label .field-label {
  display: inline-block;
  padding: 0 4px;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  text-align: right;
  text-overflow: ellipsis;
}

.tsui-form-field.horizontal label .required-indicator {
  color: #B71C1C;
}

.tsui-form-field.horizontal label .field {
  box-sizing: border-box;
  position: relative;
}

.tsui-form-field .error-message {
  position: relative;
  padding: 4px 8px;
  box-sizing: border-box;
}

.tsui-form-field .error-message span {
  color: #B71C1C;
  font-size: 0.9em;
  font-style: italic;
}

.tsui-flex-container {
  position: relative;
  display: flex;
  overflow: auto;
  width: 100%;
  margin: 0;
  padding: 0;
}

.tsui-flex-container.vertical {
  flex-direction: column;
}

.tsui-flex-container.horizontal {
  flex-direction: row;
}

.tsui-flex-container .flex-fixed {
  flex-shrink: 0;
  flex-grow: 0;
}

.tsui-flex-container .flex-fulfill {
  flex-shrink: 1;
  flex-grow: 1;
}

.tsui-tab-page-container {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  background-color: var(--tsui-app-background-color, #ffffff);
}

.tsui-tab-page-container .tsui-tab-bar {
  position: absolute;
  top: 0;
  left: 10px;
  right: 10px;
  width: 100%;
  height: 41px;
  box-sizing: border-box;
  justify-items: end;
  display: grid;
  z-index: 1;
}

.tsui-tab-page-container .tsui-tab-bar .tsui-tab {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px 5px 0 5px;
}

.tsui-tab-page-container .tsui-tab-bar .tsui-tab > div {
  background-color: var(--tsui-border-color);
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  font-size: 15px;
  line-height: 30px;
}

.tsui-tab-page-container .tsui-tab-bar .tsui-tab span {
  width: 100%;
  display: inline-block;
  text-align: center;
}

.tsui-tab-page-container .tsui-tab-bar .tsui-tab.active {
  padding-top: 6px;
}

.tsui-tab-page-container .tsui-tab-bar .tsui-tab.active > div {
  background-color: var(--tsui-app-background-color, #ffffff);
  border-top: 1px solid var(--tsui-border-color, #e0e0e0);
  border-left: 1px solid var(--tsui-border-color, #e0e0e0);
  border-right: 1px solid var(--tsui-border-color, #e0e0e0);
}

.tsui-tab-page-container .tsui-tab-bar .tsui-tab img {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 4px;
  top: 8px;
}

.tsui-tab-page-container .tsui-tab-bar .tsui-tab-more {
  top: 10px;
  position: relative;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  justify-self: center;
  padding: 3px;
}

.tsui-tab-page-container .tsui-tab-bar .tsui-tab-more:hover {
  border: 1px solid var(--tsui-border-color);
  border-radius: 50%;
}

.tsui-tab-page-container .tsui-tab-bar .tsui-tab-more:active {
  top: 11px;
}

.tsui-tab-page-container .tsui-tab-bar .tsui-tab-more img {
  width: 18px;
  height: 18px;
}

.tsui-tab-page-container .tsui-tab-bar .tsui-tab-pop-items {
  position: absolute;
  top: 41px;
  right: 5px;
}

.tsui-tab-page-container .tsui-backup-tabs {
  position: absolute;
  right: 0;
  top: 36px;
  background-color: var(--tsui-app-background-color, #ffffff);
  border-bottom: 1px solid var(--tsui-border-color);
  border-left: 1px solid var(--tsui-border-color);
  border-right: 1px solid var(--tsui-border-color);
  min-width: 120px;
  max-height: 150px;
  overflow-y: auto;
}

.tsui-tab-page-container .tsui-backup-tabs > div {
  position: relative;
  width: 100%;
  font-size: 1.25em;
  padding: 4px 8px;
  line-height: 24px;
}

.tsui-tab-page-container .tsui-tab-page-panel {
  width: 100%;
  height: 100%;
  padding-top: 40px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  background-color: var(--tsui-app-background-color, #ffffff);
}

.tsui-tab-page-container .tsui-tab-page-panel > div {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  border: 1px solid var(--tsui-border-color);
}
